<div class="card-container">
  {{#paper-card as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}{{#link-to 'post' post.id}}{{post.title}}{{/link-to}}{{/text.headline}}
        {{#text.subhead}}{{post.user.name}}{{/text.subhead}}
      {{/title.text}}
    {{/card.title}}
    {{#if post.imgURL}}
      {{card.image size="md" src=post.imgURL alt=post.title title="Tomster"}}
    {{/if}}
    {{#card.content class="layout-row layout-align-space-between"}}
      {{#card.media}}
        <div class="card-media">
          <p>
            {{post.body}}
          </p>
        </div>
      {{/card.media}}
    {{/card.content}}
    {{#card.actions class="layout-row"}}
      {{#link-to 'user' post.user.id}}{{#paper-button iconButton=true}}{{paper-icon "face"}}{{/paper-button}}{{/link-to}}
      {{#if session.isAuthenticated}}
        {{#each post.favorite as |user|}}
          {{#if user.userID session.currentUser.uid}}
            {{#paper-button iconButton=true onClick=(action 'removeFavorite')}}{{paper-icon "favorite" class="iconFavorite"}}{{/paper-button}}
          {{/if}}
          {{else}}
            {{#paper-button iconButton=true onClick=(action 'addFavorite')}}{{paper-icon "favorite"}}{{/paper-button}}
        {{/each}}
        {{#paper-button iconButton=true onClick=(action 'toggleComment')}}{{paper-icon "comment"}}{{/paper-button}}
      {{/if}}
    {{/card.actions}}
  {{/paper-card}}
  {{!-- comment card below --}}
  {{#liquid-if makeComment class='commentSection'}}
  {{#paper-card as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}Submit a new comment <small style="font-size: 10px">Commenting as {{session.currentUser.displayName}}</small>{{/text.headline}}
      {{/title.text}}
    {{/card.title}}
    {{#card.content}}
      {{#paper-form onSubmit=(action "saveComment") as |form|}}
        <div class="layout-row layout-align-space-around-center">
          <div class="flex-90 layout-column">
            {{paper-input textarea=true block=true label="Text" maxlength=150 passThru=(hash rows=2 maxRows=2) value=text onChange=(action (mut text))}}
          </div>
        </div>
        <div class="layout-row">
          {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
        </div>
      {{/paper-form}}
      <div class="layout-row layout-align-space-around-center">
        <div class="flex layout-column comment-card">
          {{#paper-list}}
            {{#paper-subheader}}Recent Comment{{/paper-subheader}}
            {{#each (comment-counter post.comments) as |comment|}}
                {{paper-divider}}
                {{#paper-item class="md-3-line md-long-text"}}
                  <img src={{comment.user.photoURL}} alt={{comment.user.name}} class="md-avatar"/>
                  <div class="md-list-item-text">
                    <h3>{{comment.user.name}}</h3>
                    <p style="word-break: break-all; word-wrap: break-word;">{{comment.text}}</p>
                  </div>
                {{/paper-item}}
            {{else}}
              <p>This post has no comments, be the first to comment.</p>
            {{/each}}
          {{/paper-list}}
        </div>
      </div>

    {{/card.content}}
  {{/paper-card}}

  {{/liquid-if}}
</div>
