

{{#burger-menu
  translucentOverlay=translucentOverlay
  dismissOnClick=dismissOnClick
  dismissOnEsc=dismissOnEsc
  gesturesEnabled=gesturesEnabled
  as |burger|}}
  {{#burger.menu dismissOnItemClick=true itemTagName="li" as |menu|}}
    <a {{action burger.state.actions.close}} class="close {{burger.state.position}} fa fa-times"></a>
    <h2><i class="fa fa-bars" aria-hidden="true"></i> Menu</h2>

    <ul>
      {{#menu.item}}
        {{#link-to 'index'}}
          Home
        {{/link-to}}
      {{/menu.item}}

      {{#menu.item}}
        {{#link-to 'newpost'}}
          New Post
        {{/link-to}}
      {{/menu.item}}
    </ul>
  {{/burger.menu}}

  {{#burger.outlet}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        {{#paper-button iconButton=true onClick=(action burger.state.actions.toggle)}}
          {{paper-icon "menu"}}
        {{/paper-button}}
        <h2>
           Blahhg
        </h2>
        <span class="flex"></span>
        {{#if session.isAuthenticated}}
          <span>{{session.currentUser.displayName}} <a {{action "signOut"}} class="btn">{{fa-icon 'sign-out'}}</a></span>
        {{else}}
          <a {{action "signIn" "google"}} class="btn">{{fa-icon "google" size="lg"}}</a>
        {{/if}}
        {{#paper-button iconButton=true}}
          {{paper-icon "more_vert"}}
        {{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{outlet}}
  {{/burger.outlet}}
{{/burger-menu}}
